:root{
  --main-blue-color: #27374D;
  --changing-color1:#234A4D;
  --changing-color2:#4D2F41;
  --main-white-color: #F9FCFF;
  --square-border-color: #5b6588;
  --title-background-color: #4D2F41; 
  --hover-blue-color: #457275;
  --main-font: 'Open Sans', sans-serif;
  --logo-font: 'Qwitcher Grypen', cursive;
  --highlight-font: 'Marcellus', serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

html{
  scroll-behavior: smooth;
}

body{
  width: 100vw;
}

a{
  text-decoration: none;
  color: var(--main-white-color)
}

.main-container{
  display: grid;
  grid-template-columns: 275px auto;
  min-height: 100vh;
}

.navbar{
    display: grid;
    position: fixed;
    width: 275px;
    grid-template-rows: 2fr 2fr 4fr 2fr auto;
    position: fixed;
    height: 100%;
    background-color: var(--main-blue-color);
    z-index: 100;
    animation: stackImg 1s infinite alternate;
  }

.nav-container{
  display:flex;
  justify-content: center;
  align-items: center;
  color: var(--main-white-color);
}

#main-logo-image{
  width: 130px;
}

#stacks{
  display: grid;
  grid-template-rows: 3fr 7fr;
  justify-content: center;
  align-items: center;
}

.stack-h{
  display: flex;
  justify-content:center;
  align-items: center;
}

.stack-h > a{
  font-size: 1.5rem;
  font-family: var(--main-font);
  transition: transform 0.75s ease;
}

.stack-h > a:hover{
  transform: scale(1.15);
}

.stack-squares{
  display: flex;
  justify-content:center;
  gap: 1.25em;
  align-items: center;
}

.stack-square{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.stack-square > div{
  width: 90px;
  height: 30px;
}

.first-part{
  border-top: var(--square-border-color) solid 2.5px;
  border-right: var(--square-border-color) solid 2.5px;
  border-left: var(--square-border-color) solid 2.5px;
}
.second-part{
  display: flex;
  justify-content:center;
  align-items: center;
}
.third-part{
  border-bottom: var(--square-border-color) solid 2.5px;
  border-right: var(--square-border-color) solid 2.5px;
  border-left: var(--square-border-color) solid 2.5px;
}

.square-image{
  height: 240%;
}

.menu{
  min-height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu > li, .menu > a{
  font-size: 1.5rem;
  font-family: var(--main-font);
  cursor: pointer;
  transition: transform 0.75s ease;
}

.menu > li:hover, .menu > a:hover{
  transform: scale(1.15);
}

#socials-container{
  display: flex;
  flex-direction: row;
  gap: 1.25em;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  background-color: var(--main-white-color);
  border: black solid 1.5px;
  border-radius: 50%;
  color: var(--main-blue-color);
  font-size: 3rem;
  transition: background-color 0.5s, border 0.5s;
}

.socials > a {
  color: var(--main-blue-color);
  font-family: var(--highlight-font);
  transition: font-size 0.5s;
}

.socials:hover{
  background-color: var(--main-blue-color);;
  border: white solid 1px;
}

.socials:hover > a {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
}

#hamburger, #hamburger-menu{
  display: none;
}

.main{
  min-width: 1000px;
  display: flex;
  flex-direction: column;
}

.title, .latest-work, .info, .lang{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 25rem;
  }

.lang{
  min-height: 3vh;
  align-items: center;
  justify-content: start;
  padding: 1.5em 2em;
  flex-direction: row;
  gap: 0.5rem;
}

.lang > button{
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  transition: transform 0.4s ease;
}

.lang a{
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
}

.lang > button:hover{
  transform: scale(1.15);
}

.title h1{
  font-family: var(--logo-font);
  font-size: 14rem;
  font-weight: 400;
  color:black;
}

.title > h2{
  font-family: var(--highlight-font);
  font-size: 2.8rem;
  font-weight: 400;
  color:var(--main-blue-color);
  padding: 2rem 0rem;
}

.latest-work{
  min-height: 250px;
}

.latest-work h2{
  font-family: var(--highlight-font);
  font-size: 4rem;
  font-weight: 400;
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
  border: var(--main-blue-color) solid 1px;
  border-radius: 100px;
  padding: 0.5rem 3rem;
  animation: bgColorChange 5s infinite alternate;
}

.latest-work a{
  color: var(--main-blue-color);
  font-size: 5rem;
  animation: pulse 5s infinite alternate;
  font-family: 'Noto Sans Symbols 2', sans-serif;
}

.info{
  min-height: 15rem;
  height: fit-content;
}

.info > p{
  font-family: var(--main-font);
  font-style: italic;
  font-size: 1.5rem;
  width: 85%;
  min-width: 45ch;
  padding-bottom: 3rem;
}

.info a{
  color: var(--changing-color2);
}

.work-examples-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 10rem 0rem;
}

.example-square{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.example-square > div{
  width: 18rem;
  height: 6rem;
  cursor: pointer;
}

.example:nth-child(1){
  margin-top: 6rem;
}

.example:nth-child(2){
  margin-top: 18rem;
}

.example:nth-child(1) > a:nth-child(2){
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive;
  font-style: italic;
  font-weight: 100;
  color: #ebb8cb;
  transition: transform 0.4s ease;
}

.example:nth-child(1) > a > span{
  color: black;
}

.example > a:hover{
  transform: scale(1.05)
}

.example:nth-child(2) > a:nth-child(2){
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  font-size: 2.25rem;
  font-family: var(--main-font);
  font-weight: 100;
  color: rgb(230, 86, 86);
  transition: transform 0.4s ease;
}

.example > a:hover{
  transform: scale(1.05)
}

.example:nth-child(3) > a:nth-child(2){
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  font-size: 2.5rem;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  color: black;
  transition: transform 0.4s ease;
}

.example > a:hover{
  transform: scale(1.05)
}

.example-square > div{
  display: flex;
  justify-content: center;
}

.example-square > div > img{
  width: 14.4rem;
}

.example-square > .first-part{
  align-items: end;
}

.example-square > .second-part{
  transition: padding 1.5s ease;
}

.example-square > .third-part{
  align-items: start;
}

.example-square .second-part > img{
  opacity: 1s;
  transition: opacity 1s ease;
  animation: fadeIn 3s ease forwards;
}

.example-square .second-part > p{
  display: none;
  text-align: center;
  font-family: var(--main-font);
  transition: opacity 1s ease;
  opacity: 0;
  width: 14.4rem;
  font-size: 1.25rem;
}

.example-square:hover .second-part{
  padding: 6rem 1.25rem;
}

.example-square:hover .second-part > p{
  display: block;
  position: absolute;
  opacity: 1;
  animation: fadeIn 3s ease forwards;
}

.example-square:hover .second-part > img{
  display:none;
  animation: displayOff 1s ease forwards;
}

.me{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 20rem;
  margin-bottom: 8rem;
}

.me > h2{
  font-family: var(--highlight-font);
  font-size: 5rem;
  font-weight: 400;
  color:black;
}

.me > img {
  width: 400px;
  border-radius: 500%;
  filter: drop-shadow(5px 5px 5px var(--main-blue-color)) grayscale(50%);
}

.my-project{
  min-height: 20rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
  border-bottom: 1px solid black;
}

.project-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20rem;
}

.project-box > img {
  width: 275px;
  padding: 1rem;
  border: black solid 1px;
}

.project-box > h2, .project-box > h2 > a{
  font-family: var(--highlight-font);
  color: black;
  padding: 2rem 0;
  flex: 1;
  font-size: 2.25rem;
}

.project-box > p, .project-box > p > a{
  font-family: var(--main-font);
  font-size: 1.25rem;
  flex: 3;
  padding: 1.5rem 3rem;
  color: black;
}

.stack-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
}

.stack-box h3{
  font-family: var(--highlight-font);
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

.stack-box p{
  font-family: var(--main-font);
  width: 350px;
}

.footer{
  text-align: center;
  padding-bottom: 0.25rem;
  color: var(--square-border-color);
  font-size: 1rem;
}

.footer-mob{
  display:none;
  margin-top: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    color: black;
    display: block;
  }
}

@keyframes displayOff {
  0% {
    display: inline;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes bgColorChange {
  0% {
    background-color: var(--main-blue-color);
  }

  50% {
    background-color: var(--changing-color1);
  }

  100% {
    background-color: var(--changing-color2);
  }
}

@keyframes colorChange {
  0% {
    color: var(--main-blue-color);
  }

  50% {
    color: var(--changing-color1);
  }

  100% {
    color: var(--changing-color2);
  }
}

@keyframes pulse {
  0% {
    color: var(--main-blue-color);
    padding-top: 0vh;
  }

  25% {
    padding-top: 1.5vh;
  }

  50% {
    color: var(--changing-color1);
    padding-top: 0vh;
  }

  75%{
    padding-top: 1.5vh;
  }

  100% {
    color: var(--changing-color2);
    padding-top: 0vh;
  }
}

@media (max-width: 1024px) {

.main-container{
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
}

.navbar{
  min-width: 100%;
  grid-template-columns: 1fr 2fr 4fr 2fr;
  grid-template-rows: 100%;
  height: 100px;
}

.stack-h{
  display: none;
}

.stack-squares{
  height: 100px;
}

#main-logo-image{
  width: 80px;
}

.stack-square > div{
  width: 78px;
  height: 26px;
}

.menu{
  flex-direction: row;
  gap: 1.5em;
}

.menu > li, .menu > a{
  font-size: 1rem;
}

.socials{
  width: 70px;
  height: 70px;
}

.example-square > div{
  width: 15rem;
  height: 5rem;
  cursor: pointer;
}

.example:nth-child(1) > a:nth-child(2){
  font-size: 2rem;
}

.example:nth-child(2) > a:nth-child(2){
  font-size: 1.75rem;
}

.example:nth-child(3) > a:nth-child(2){
  font-size: 2rem;
}

.example-square > div > img{
  width: 12rem;
}

.example-square .second-part > p{
  width: 12rem;
}

.main{
  min-width: 600px;
}

.project-box > img {
  width: 225px;
}

.project-box > h2, .project-box > h2 > a{
  font-size: 2rem;
}

.project-box > p, .project-box > p > a{
  font-size: 1rem;
}

.footer{
  display: none;
}

.footer-mob{
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  padding: 1rem 0rem;
  background-color: var(--main-blue-color);
  max-height: 50px;
}

.stack-box{
  grid-template-columns: 1fr 1fr;
}

.stack-box p {
  width: 300px;
}
}

@media (max-width: 850px) {

  #hamburger-menu{
    display: none;
    position: fixed;
    margin-top: 100px;
    width: 100%;
    justify-content: center;
    align-items: start;
    background-color: var(--main-blue-color);
    border-top: var(--square-border-color) solid 2px;
    z-index: 100;
  }

  #hamburger-menu.active{
    display: flex;
  }

  .menu-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .menu-ul > li, .menu > a{
    font-size: 1.25rem;
    font-family: var(--main-font);
    cursor: pointer;
    transition: transform 0.75s ease;
    padding: 0.75rem 0rem;
  }
  
  .menu-ul > li:hover, .menu > a:hover{
    transform: scale(1.15);
  }

  .my-project{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
  }

  .navbar > :nth-child(3){
    display: none;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
  }

  #main-logo-image{
    width: 100px;
    padding-left: 1rem;
  }

  .navbar > :nth-child(2), .stack-squares, #stacks, #socials-container{
    display: none;
  }

  #hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-top: 3rem;
    width: 5rem;
    color: white;
    height: 100px;
    transform: rotate(90deg);
  }

  .title, .info{
    min-height: 12.5rem;
    }

  .title h1{
    font-size: 10rem;
  }
    
  .title > h2{
    font-size: 2.25rem;
  }

  .info > p{
    max-width: 55ch;
    font-size: 1.3rem;
  }

  .latest-work h2{
    font-size: 3.5rem;
  }
  
  .work-examples-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    margin: 10rem 0rem;
  }

  .example{
    margin-bottom: 10rem;
  }

  .example:nth-child(1){
    margin-top: 0;
  }
  
  .example:nth-child(2){
    margin-top: 0;
  }
  
  .me > h2{
    font-size: 4rem;
  }
  
  .me > img {
    width: 250px;
  }
  
}

@media (max-width: 750px){
  .title h1{
    font-size: 8rem;
  }
    
  .title > h2{
    font-size: 2rem;
  }

  .info > p{
    max-width: 50ch;
    font-size: 1.1rem;
  }
  
  .latest-work h2{
    font-size: 3rem;
  }

  .stack-square > div{
    width: 66px;
    height: 22px;
  }

  .socials{
    width: 60px;
    height: 60px;
  }

  #main-logo-image{
    width: 80px;
  }

  .project-box > img {
    width: 175px;
  }
  
  .project-box > h2, .project-box > h2 > a{
    font-size: 1.8rem;
  }
  
  .project-box > p, .project-box > p > a{
    font-size: 0.9rem;
  }

  
  .me{
    flex-direction: column;
  }
  
  .me > h2{
    margin-top: 4rem;
    font-size: 3rem;
  }
  
  .me > img {
    width: 250px;
  }

  .stack-box{
    grid-template-columns: 1fr;
  }

  .stack-box p {
    width: 250px;
  }

}

@media (max-width: 650px){

  #hamburger-menu{
    margin-top: 75px;
  }

  .main-container{
    grid-template-rows: 75px auto;
  }

  .navbar{
    height: 75px;
  }

  #main-logo-image{
    width: 70px;
  }
  
  #hamburger{
    height: 75px;
    font-size: 2rem;
    padding-top: 2rem;
    width: 4rem;
  }

  .title h1{
    font-size: 6rem;
  }
    
  .title > h2{
    font-size: 1.5rem;
  }

  .info > p{
    max-width: 45ch;
    font-size: 1rem;
  }
  
  .latest-work h2{
    font-size: 2.5rem;
  }
  .main{
    min-width: 0px;
}

}

@media (max-width: 480px){
  :root{
    font-size: 90%;
  }
}

@media (max-width: 420px){
  :root{
    font-size: 75%;
  }
}

@media (max-width: 320px){
  :root{
    font-size: 60%;
  }
}

@media (max-width: 260px){
  :root{
    font-size: 50%;
  }

  .me > h2{
    font-size: 2.25rem;
  }
  
  .me > img {
    width: 150px;
  }
  .project-box > img {
    width: 150px;
  }
  
  .project-box > h2, .project-box > h2 > a{
    font-size: 1.5rem;
  }
  
  .project-box > p, .project-box > p > a{
    font-size: 0.9rem;
  }
}